<div class="row">
    <div class="col-md-12">
        <div class="tamara-body">
            <div class="tamara-body-head">
                <h3>contact</h3>
            </div>
            <div class="tamara-body-body servcies-add">
                <p>
                    If you have any questions regarding us or our products or need help with anything related to diet, exercise in general, please do reach out! Our team of certified personal trainers are available Monday through Friday and are happy to help!
                </p>
                <h3>Mailing Address</h3>
                <p>
                    Distour, LLC.
                    <br>
                    Gospodara Vučića 176a, Belgrade 11000, 4th Floor
                </p>
                <h3>Email Address</h3>
                <p>
                    <a href="mailto:distourcsgo@gmail.com">distourcsgo@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</div>
