.tamara-body-body {
    h3 {
            text-align: center;
            color: #fff;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        p {
            text-align: center;
        }
}