<div class="row">
    <div class="col-md-12">
        <div class="tamara-body">
            <div class="tamara-body-head">
                <h3>about</h3>
            </div>
            <div class="tamara-body-body">
                <h2>
                    There’s no one-size-fits-all model for healthy living. Let us help you find a way to eat well and stay active that works best for you, wherever you are on your journey.
                </h2>
                <p>
                    The small, everyday choices you make about your diet, fitness, and overall well-being have the power to transform your life. But that doesn’t mean they’re always easy to sustain. We understand you’re an individual with specific goals and we’re here to support you with trusted information and tools to help you feel your best.
                </p>
                <p>
                    Online searches for nutrition or exercise topics can be overwhelming and result in a black hole of bogus fads and false claims. You need easy-to-understand and credible advice that cuts through the clutter—advice that’s written by experts who know what they’re talking about and who genuinely care.
                </p>
                <p>
                    It’s our duty and responsibility to make sure you’re getting science-backed facts with clear, actionable steps suited to your needs. We work hard to break down complex health terms, reflect the latest research, and present the most accurate information in a way that motivates you to take an active role in your diet and fitness. We’re here to cheer you on, not scare you off.
                </p>
                <h4>Subject-Matter Expert Writers</h4>
                <p>
                    Our writers are notable voices in their respective disciplines, from registered dietitians to certified personal trainers to physicians. These leading experts are specifically selected for their extensive knowledge and real-world experience, as well as their ability to communicate complex information in a clear, helpful, and unbiased way.
                </p>
                <h4>Fact Check</h4>
                <p>
                    Our team of qualified and experienced fact checkers provides a critical step in our commitment to content integrity. Fact checkers rigorously review medical statements, claims, and recommendations for accuracy and timeliness. We rely only on the most current and reputable primary references, including peer-reviewed medical journals, government organizations, academic institutions, and advocacy associations. Sources are listed both inline and at the bottom of every article.
                </p>
                <h4>References, Sources, and Citations</h4>
                <p>
                    We fact-check medical statements, claims, and suggestions with the most current primary references, including peer-reviewed medical journals, government organizations, academic institutions, and advocacy associations. Sources are listed both inline and at the bottom of every article.
                </p>
                <h4>Up-to-Date Information</h4>
                <p>
                    Times change and so does information. With help from our subject-matter experts and Review Board, our editorial team routinely evaluates our existing content every few months to ensure all information is updated and reflective of the most current research, guidelines, and statistics.
                </p>
                <p>
                    If needed, content is re-worked, re-edited, and re-certified by our Review Board. If you happen to come across any inconsistencies or outdated facts, please don’t hesitate to
                    <a routerLink="/contact">reach out.</a>
                </p>
                <h4>Have Feedback?</h4>
                <p>
                    We love to hear from our readers. If you have a comment or suggestion to share, feel free to contact us at distourcsgo@gmail.com.
                </p>
            </div>
        </div>
    </div>
</div>
