<div class="row">
    <div class="col-md-12">
        <div class="tamara-body">
            <div class="tamara-body-head">
                <h3>Terms & Conditions</h3>
            </div>
            <div class="tamara-body-body servcies-add">

                <h3>Introduction</h3>
                <p>
                    Thank you for visiting sport.distour.com, a health and fitness blog.  These Terms of Service are an integral part of using our Service, and you must completely agree to them in order to access it.
                </p>
                <h3>Definitions</h3>
                <p>
                    Throughout this Agreement, we may use certain words or phrases, and it is important that you understand the meaning of them.  The list is not all-encompassing and no definition should be considered binding to the point that it renders this Agreement nonsensical:
                </p>
                <ul>
                    <li>
                        “Agreement” means these Terms of Service;
                    </li>
                    <li>
                        “Sport Distour” refers to our company, known as “Distour, LLC.”; our Site; our Service; or a combination of all or some of the preceding definitions, depending on the context of the word;
                    </li>
                    <li>
                        “Service” refers to the services that we provide through our Site, including our blog, health and fitness-related books, products, and other services, and the Site itself;
                    </li>
                    <li>
                        “Site” refers to our website, sport.distour.com;
                    </li>
                    <li>
                        “User” refers to anyone who accesses our Site or uses our Service, regardless of whether such access involves any remuneration to any party;
                    </li>
                    <li>
                        “You” refers to you, the person who is entering into this Agreement with Sport Distour.
                    </li>
                </ul>
                <h3>Our Service</h3>
                <p>
                    Sport Distour is a health and fitness blog targeted at anyone interested in the subject of health and fitness.  Subject to this Agreement, our Privacy Policy, and any applicable laws, anyone may access our Site.
                </p>
                <h3>Our Company</h3>
                <p>
                    Sport Distour is owned and operated by Distour, LLC, a company domesticated and doing business in the Serbia, registered with the Department of State – Division of Corporations.
                </p>
                <h3>Eligibility</h3>
                <p>
                    In order to use our Service, you must meet a number of conditions, including but not limited to:
                </p>
                <ul>
                    <li>
                        To use any paid portion of our Service, you must be the minimum age required to enter into a contract in the area in which you reside, and, in any event, must not be less than 18 years of age.
                    </li>
                    <li>
                        To use any unpaid portion of our Service, you must be at least 13 years of age.
                    </li>
                    <li>
                        You must provide us with personal information, payment information, and other information that we deem necessary to provide you with our Service.
                    </li>
                </ul>
                <h3>Nature of Service</h3>
                <p>
                    Sport Distour provides fitness information that it believes to be of use.  However, Sport Distour articles are not written by medical professionals, and should be read for informational purposes only.  ALL INFORMATION IS PROVIDED FOR EDUCATIONAL AND INFORMATIONAL PURPOSES ONLY AND IS NOT INTENDED TO DIAGNOSE, TREAT, OR CURE ANY HEALTH CONDITIONS. NO INFORMATION PROVIDED SHOULD BE USED AS A SUBSTITUTE FOR MEDICAL DEVICE.
                </p>
                <p>
                    THE U.S. FOOD AND DRUG ADMINISTRATION HAS NOT EVALUATED ANY STATEMENTS, PRODUCTS, HEALTH TOPICS, SUGGESTED PRODUCT COMPOSITIONS, OR LAB TESTS ON THIS SITE.
                </p>
                <p>
                    You should consult with a licensed medical doctor prior to engaging in any fitness activities described on Sport DIstour, or using any supplements or other nutritional items recommended, to ensure that such practices are safe for you.
                </p>
                <h3>Federal Trade Commission Act Disclosure</h3>
                <p>
                    You are hereby notified that Sprot Distour may, but does not necessarily, receive direct or indirect compensation for endorsements, advertisements, or other promotions of third party products and services.
                </p>
                <h3>Rules of Use</h3>
                <p>
                    When using our Service, there are certain rules of use which apply to your activities.  You must not:
                </p>
                <ul>
                    <li>
                        Violate the laws of the United States, its states, or any foreign political entity having jurisdiction over this Agreement, whether or not the foreign political entity is a country or a subdivision (such as a state or province) or municipality (such as a city, town, county, or region) of a foreign country.
                    </li>
                    <li>
                        Post or send anything violent, threatening, pornographic, racist, hateful, or otherwise objectionable according to the opinion of Sport Distour or its delegates.
                    </li>
                    <li>
                        Infringe on anyone’s intellectual property rights, defame anyone, impersonate anyone, or otherwise violate the rights of a third party.
                    </li>
                    <li>
                        Hack, crack, phish, SQL inject, or otherwise compromise the security or integrity of the Legion Athletics Site, Service, or its Users’ computers.
                    </li>
                </ul>
                <h3>Payment & Refunds</h3>
                <p>
                    Unless otherwise stated, all prices are listed in United States dollars.  Payments for any paid services, fitness or nutritional plans, or other services, may be made using our third party payment processing provider.  Any issues with payment processing should be addressed  and/or your card issue directly, though you may contact Sport Distour as well and we may attempt to assist in resolving issues with your payments.
                </p>
                <p>
                    If you are not satisfied with our Service after 30 days of using it, you may contact us at distourcsgo@gmail.com and request a refund. All sales through the Site are final and refunds are given out in the sole discretion of Sport Distour.
                </p>
                <h3>Discounts</h3>
                <p>
                    Sport Distour may, but is not obligated to, provide discounts or coupons for its services.  If any information published or uttered by Sport Distour about such offers is conflicting, the terms most beneficial to Sport Distour shall take effect.
                </p>
                <p>
                    Discounts and other similar offers are subject to any expiry dates and other applicable limitations.  Sport Distour may refuse to provide such discounts for any reason including, but not limited to, fraud, mistake on the part of our publication of information, actual or expected financial hardship, sale of all or part of our business, or any other reason.
                </p>
                <h3>Chargebacks</h3>
                <p>
                    Disputes may be conducted only according to our “Forum of Dispute” provisions below, and you agree not to conduct any chargebacks against Sport Distour.  If you do conduct a chargeback, you agree that you shall be liable to pay Sport Distour for the full amount of the chargeback, as well as any legal fees, court fees, collection agency fees, or other expenses involved in enforcing this right.  Fraudulent chargebacks will be reported to the appropriate law enforcement authorities.
                </p>
                <h3>Our Copyright</h3>
                <p>
                    Our content is important to us, as Sport Distour is largely a content-based business.  You agree not to copy, distribute, display, disseminate, or otherwise reproduce any of the information on the Site, without receiving our prior written permission.
                </p>
                <h3>Your Copyright</h3>
                <p>
                    Sport Distour must be assured that it has the right to use the content that is posted to its Site by its Users, whether it is posted in its blog or elsewhere.  Such content may include, but is not limited to, photographs, videos, text, audio, and other materials.  Whenever submitting content to our website, you agree that you are granting us a non-exclusive, universal, perpetual, irrevocable, sublicensable, commercial and non-commercial right to use, distribute, sell, publish, and otherwise make use of the content that you submit to us.  You warrant to us that you have the right to grant us this right over the content, and that you will indemnify us for any loss resulting from a breach of this warranty and defend us against claims regarding the same.
                </p>
                <h3>Branding</h3>
                <p>
                    “Sport Distour” and “Distour, LLC.” are protected marks used by us, Distour, Inc., to uniquely identify our Site, Service, and business.  You agree not to use these marks anywhere without our prior written consent.  Additionally, you agree not to use our trade dress, or copy the look and feel of our website or its design, without our prior written consent.  You agree that this paragraph goes beyond the governing law on intellectual property law, and includes prohibitions on any competition that violates the provisions of this paragraph, including starting your own fitness-related business.
                </p>
                <h3>Revocation of Consent</h3>
                <p>
                    We may revoke our consent for your use of our intellectual property, or any other permission granted to you under this Agreement, at any time.  You agree that if we so request, you must take immediate action to remove any usage of our intellectual property that you may have engaged in, even if it would cause a loss to you.
                </p>
                <h3>Copyright & Trademark Infringement</h3>
                <p>
                    We take copyright infringement very seriously, and we have registered a Copyright Agent with the United States Copyright Office, which limits our liability under the Digital Millennium Copyright Act.  If you believe that your copyright has been infringed, please send us a message which contains:
                </p>
                <ul>
                    <li>Your name.</li>
                    <li>
                        The name of the party whose copyright has been infringed, if different from your name.
                    </li>
                    <li>
                        The name and description of the work that is being infringed.
                    </li>
                    <li>
                        The location on our website of the infringing copy.
                    </li>
                    <li>
                        A statement that you have a good faith belief that use of the copyrighted work described above is not authorized by the copyright owner (or by a third party who is legally entitled to do so on behalf of the copyright owner) and is not otherwise permitted by law.
                    </li>
                    <li>
                        A statement that you swear, under penalty of perjury, that the information contained in this notification is accurate and that you are the copyright owner or have an exclusive right in law to bring infringement proceedings with respect to its use.
                    </li>
                </ul>
                <p>
                    You must sign this notification electronically and send it to at distourcsgo@gmail.com
                </p>
                <p>
                    Although U.S. law does not provide for a similar procedure for trademark infringement, we recommend that you send us similar information to that above in regards to any allegation of trademark infringement, and we will address it as soon as practicable.
                </p>
                <h3>Communications Decency Act</h3>
                <p>
                    Similar to the DMCA provisions above, United States law—specifically Section 230 of the Communications Decency Act—creates a defense for us for the actions of third parties in regards to any defamatory content posted on our website.  Although we are not liable for defamatory words posted on our Site by our Users even if given notice, we do prohibit defamation under this Agreement and we may, if we believe the situation warrants it, take action against the offending User.  Please notify us at distourcsgo@gmail.com if any of our Users have posted anything that you believe is defamatory.
                </p>
                <h3>Representations & Warranties</h3>
                <p>
                    WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR SERVICE OR FITNESS FOR ANY PARTICULAR PURPOSE.  YOU AGREE THAT YOU ARE RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE HAVE TO YOU IN RELATION TO OR ARISING FROM THIS AGREEMENT OR OUR SERVICES, FOR REASONS INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR SERVICE, NEGLIGENCE, OR ANY OTHER TORT.  TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF LIABILITY, YOU AGREE THAT WE ARE ONLY LIABLE TO YOU FOR THE MINIMUM AMOUNT OF DAMAGES THAT THE LAW RESTRICTS OUR LIABILITY TO, IF SUCH A MINIMUM EXISTS.
                </p>
                <p>
                    YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR DAMAGES CAUSED BY THIRD PARTIES WHO MAY USE OUR SERVICES, INCLUDING BUT NOT LIMITED TO PEOPLE WHO COMMIT INTELLECTUAL PROPERTY INFRINGEMENT, DEFAMATION, TORTIOUS INTERFERENCE WITH ECONOMIC RELATIONS, OR ANY OTHER ACTIONABLE CONDUCT TOWARDS YOU.
                </p>
                <p>
                    WE ARE NOT RESPONSIBLE FOR ANY FAILURE ON THE PART OF A PAYMENT PROCESSOR, INCLUDING BRAINTREE OR THE CREDIT CARD COMPANY OR BANK THAT YOU USE TO FUND BRAINTREE, TO DIRECT PAYMENTS TO THE CORRECT DESTINATION, OR ANY ACTIONS ON THEIR PART IN PLACING A HOLD ON YOUR FUNDS.  IF PAYMENT ISSUES OCCUR, PLEASE CONTACT THE RELEVANT THIRD PARTY OR PARTIES DIRECTLY.
                </p>
                <p>
                    WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY FAILURES OR DISRUPTIONS, UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR PERMANENTLY.
                </p>
                <p>
                    THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT.  NOTHING IN THE PROVISIONS OF THIS “REPRESENTATIONS & WARRANTIES” SECTION SHALL BE CONSTRUED TO LIMIT THE GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.
                </p>
                <p>
                    For Jurisdictions that do not allow us to limit our liability: Notwithstanding any provision of these Terms, if your jurisdiction has provisions specific to waiver or liability that conflict with the above then our liability is limited to the smallest extent possible by law.  Specifically, in those jurisdictions not allowed, we do not disclaim liability for: (a) death or personal injury caused by its negligence or that of any of its officers, employees or agents; or (b) fraudulent misrepresentation; or (c) any liability which it is not lawful to exclude either now or in the future.
                </p>
                <p>
                    IF YOU ARE A RESIDENT OF A JURISDICTION THAT REQUIRES A SPECIFIC STATEMENT REGARDING RELEASE THEN THE FOLLOWING APPLIES.  FOR EXAMPLE, CALIFORNIA RESIDENTS MUST, AS A CONDITION OF THIS AGREEMENT, WAIVE THE APPLICABILITY OF CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.” YOU HEREBY WAIVE THIS SECTION OF THE CALIFORNIA CIVIL CODE.  YOU HEREBY WAIVE ANY SIMILAR PROVISION IN LAW, REGULATION, OR CODE THAT HAS THE SAME INTENT OR EFFECT AS THE AFOREMENTIONED RELEASE.
                </p>
                <h3>Indemnity</h3>
                <p>
                    You agree to indemnify and hold us harmless for any claims by you or any third party which may arise from or relate to this Agreement or the provision of our service to you, including any damages caused by your use of our website or acceptance of the offers contained on it.  You also agree that you have a duty to defend us against such claims and we may require you to pay for an attorney(s) of our choice in such cases.  You agree that this indemnity extends to requiring you to pay for our reasonable attorneys’ fees, court costs, and disbursements.  In the event of a claim such as one described in this paragraph, we may elect to settle with the party/parties making the claim, and you shall be liable for the damages as though we had proceeded with a trial.
                </p>
                <h3>Choice of Law</h3>
                <p>
                    This Agreement shall be governed by the laws in force in the Serbia.
                </p>
                <h3>Forum of Dispute</h3>
                <p>
                    You agree that any dispute arising from or relating to this Agreement will be heard solely by a court of competent jurisdiction in the Serbia.  Specifically, where the subject matter of a dispute is eligible for it, you agree that any disputes shall be head solely within the lowest court of original jurisdiction having the authority to hear civil matters in the Serbia (“Small Claims Court”).
                </p>
                <p>
                    If a dispute claims multiple claims and one or more of those claims would be eligible to be heard by the Small Claims Court, you agree not to bring the other claims against us and to instead proceed within the Small Claims Court.
                </p>
                <p>
                    If you would be entitled in a dispute to an amount exceeding the monetary jurisdiction of the Small Claims Court, you agree to waive your right to collect any damages in excess of the monetary jurisdiction and instead still bring your claim within the Small Claims Court.
                </p>
                <p>
                    You agree that if a dispute is eligible to be heard in Small Claims Court but you would be entitled to an additional or alternative remedy in a higher court, such as injunctive relief, you will waive your right to that remedy and still bring the dispute within the Small Claims Court.
                </p>
                <p>
                    If you bring a dispute in a manner other than in accordance with this section, you agree that we may move to have it dismissed, and that you will be responsible for our reasonable attorneys’ fees, court costs, and disbursements in doing so.
                </p>
                <p>
                    You agree that the unsuccessful party in any dispute arising from or relating to this Agreement will be responsible for the reimbursement of the successful party’s reasonable attorneys’ fees, court costs, and disbursements.
                </p>
                <h3>Force Majeure</h3>
                <p>
                    You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it is the result of events beyond our control, including, but not limited to, acts of God, war, insurrection, riots, terrorism, crime, labor shortages (including lawful and unlawful strikes), embargoes, postal disruption, communication disruption, unavailability of payment processors, failure or shortage of infrastructure, shortage of materials, or any other event beyond our control.
                </p>
                <h3>Severability</h3>
                <p>
                    In the event that a provision of this Agreement is found to be unlawful, conflicting with another provision of the Agreement, or otherwise unenforceable, the Agreement will remain in force as though it had been entered into without that unenforceable provision being included in it.
                </p>
                <p>
                    If two or more provisions of this Agreement are deemed to conflict with each other’s operation, Sport Distour shall have the sole right to elect which provision remains in force.
                </p>
                <h3>Non-Waiver</h3>
                <p>
                    Sport Distour reserves all rights afforded to us under this Agreement as well as under the provisions of any applicable law.  Our non-enforcement of any particular provision or provisions of this Agreement or the any applicable law should not be construed as our waiver of the right to enforce that same provision under the same or different circumstances at any time in the future.
                </p>
                <h3>Termination & Cancellation</h3>
                <p>
                    We may terminate your account or access as well as access to our Site and Service to you at our discretion without explanation, though we will strive to provide a timely explanation in most cases.  Our liability for refunding you, if you have paid anything to us, will be limited to the amount you paid for goods or services which have not yet been and will not be delivered, except in cases where the termination or cancellation was due to your breach of this Agreement, in which case you agree that we are not required to provide any refund or other compensation whatsoever.
                </p>
                <p>
                    Under no circumstances, including termination or cancellation of our Service to you, will we be liable for any losses related to actions of other Users.
                </p>
                <h3>Amendments</h3>
                <p>
                    We may amend this Agreement from time to time.  When we amend this Agreement, we will post the changes here. You must read this page each time you visit our Site, and if you do not agree to the current version, you must cease using our Service immediately.
                </p>

            </div>
        </div>
    </div>
</div>
