<div class="row">
    <div class="col-md-12">
        <div class="tamara-body">
            <div class="tamara-body-head">
                <h3 >Судья</h3>
            </div>
            <div class="tamara-body-body servcies-add">
                <div class="profile-judge" *ngIf="challenge.judge">
                    <div class="row">
                        <div class="col-md-2">      <img [src]="challenge.judge.photo" width="100%"  />
                        </div>   <div class="col-md-10">       <p [textContent]="challenge.judge.name"></p>
             </div></div>   </div>
                <p *ngIf="!challenge.judge">Судья не назначен</p>
           
            <div class="actions">
                  <button *ngIf="checkUser()" (click)="addJudge()">Стать судьёй</button>
                  <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.close()">{{ alert.message }}</ngb-alert>
            </div>
            </div>
        </div>
    </div>
    </div>
