<div class="row">
    <div class="col-md-12">
        <div class="tamara-body">
            <div class="tamara-body-head">
                <h3>Участники</h3>
            </div>
            <div class="tamara-body-body servcies-add">


                <ng-template ngFor let-item [ngForOf]="challenge.participants" [ngForTrackBy]="trackById">
                    <div class="participant">
                        <div class="row">
                            <div class="col-md-2 col-4">       <img [src]="item.photo"   />
                            </div>   <div class="col-md-10 col-8">    <p [textContent]="item.name"></p>
     
                        <div class="actions col-md-8 col-12" style="padding:0;">
                            <input #fileInput [hidden]="isUploading" *ngIf="checkUploadVideo(item)" type="file" name="image" (change)="uploadVideo($event)" accept="video/mp4,video/x-m4v,video/*" />
                            <button *ngIf="checkJudge()" (click)="setWinner(item)">Сделать победителем</button>
                            <p><ngb-progressbar *ngIf="isUploading" type="success" [value]="percent" [striped]="true" [animated]="true"><i [textContent]="percent + '%'"></i></ngb-progressbar></p>
                            <p *ngIf="item.video != 'none'" [routerLink]="['video',item.video]">Просмотреть видео</p>
                            <!-- TEST -->
                            <ngb-alert   [type]="'success'" (close)="alert.close()">test</ngb-alert>
                            <ngb-alert  [type]="'danger'" (close)="alert.close()">test</ngb-alert>
                            <p><ngb-progressbar   type="success" [value]="30" [striped]="true" [animated]="true"><i [textContent]="'40' + '%'"></i></ngb-progressbar></p>
                            <!-- TEST -->
                            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.close()">{{ alert.message }}</ngb-alert>
                            <ngb-alert *ngIf="alertWinner.show" [type]="alertWinner.type" (close)="alertWinner.close()">{{ alertWinner.message }}</ngb-alert>
                        </div>
                    </div>
                    </div>
                    </div>
                </ng-template>
                
            </div>
        </div>
    </div>
</div>