<h3>What foods should I eat to lose weight?</h3>
<p>
    One of the biggest dieting myths out there is the idea that you have to heavily restrict the types of food you eat to lose weight effectively.
</p>
<p>This simply isn’t true.</p>
<p>
    <b>
        Effective weight loss is all about HOW MUCH you eat, not WHAT.
    </b>
</p>
<p>
    Yes, macronutrient ratios come into play, but ultimately it’s a game of controlling your calories.
</p>
<h3>
    What’s the best type of weightlifting program for building muscle?
</h3>
<p>
    The biggest mistake most people make in their weightlifting is doing too much training with light weights and higher reps.
</p>
<p>Here’s the bottom line:</p>
<p>
    <b>
        If you want to build a truly outstanding physique, you’re going to have to lift a lot of heavy ass weights and you’re going to have to focus on compound lifts like the Deadlift, Squat, Bench Press, and Military Press.
    </b>
</p>
<h3>
    Why can’t I get rid of the last bits of fat in certain areas of my body?
</h3>
<p>
    You’ve probably noticed that certain areas of your body get leaner quicker than others and that some fat just refuses to go away.
</p>
<p>
    If you’re a guy, chances are you’ve struggled with your stomach area (and particularly the lower part of your abs and your obliques) and the lower back region.
</p>
<p>
    If you’re a woman, it’s probably your thighs, hips, and butt that frustrate you the most.
</p>
<p>
    Why is this and what can you do about it? Read this article to find out:
</p>
<h3>How do I get a six pack?</h3>
<p>
    The amount of bad advice out there on how to get “six pack abs” is overwhelming.
</p>
<ul>
    <li>
        Some people say you just have to do special types of ab exercises…and they’re wrong.
    </li>
    <li>
        Some people say you just have to get lean…and they’re (mostly) wrong.
    </li>
    <li>
        Some people say you just have to do a lot of heavy squats and deadlifts…and they’re almost mostly wrong.
    </li>
    <li>
        Some people say you have to avoid certain types of foods and take weird supplements…and they’re really wrong.
    </li>
</ul>
<h3>
    Do I have to do a ton of cardio to lose weight?
</h3>
<p>No, you don’t.</p>
<p>
    In fact, too much cardio is quite detrimental. It can harm your health and burn up quite a bit of muscle, which can leave you that much closer to the dreaded “skinny fat” look.
</p>
<p>
    <b>
        When I’m dieting to lose weight, I do no more than about 2 hours of cardio per week.
    </b>
</p>
<p>Yes, you read that correctly.</p>
<h3>
    Is it possible to build muscle and lose fat at the same time?
</h3>
<p>
    Yes, it’s possible to do this, but it depends on your genetics and training experience.
</p>
<h3>
    How do I get rid of this damn belly fat?
</h3>
<p>I feel your pain.</p>
<p>
    If you don’t know what you’re dealing with and how to tackle it correctly, trying to lose belly fat can be really frustrating.
</p>
<h3>Should I “bulk” or “cut” first?</h3>
<p>
    In case you’re not familiar with these terms, “bulking” is keeping your body in a slight calorie surplus to maximize muscle growth, and “cutting” is keeping your body in a slight calorie deficit to induce fat loss.
</p>
<p>
    The “cost” of bulking is you slowly accumulate body fat along with the muscle, and the “cost” of cutting is, unless you’re brand new to weightlifting, you aren’t going to build any muscle to speak of.
</p>
<h3>
    I’ve heard calorie counting doesn’t work. Is that true?
</h3>

<p>
    According to some “experts,” losing weight and staying lean isn’t about controlling caloric intake, but controlling the types of foods you eat.
</p>
<p>
    Certain foods, they say, “clog” your system and create hormone imbalances that lead to weight gain. Others “clear” the system and result in weight loss.
</p>
<p>
    This is like music to millions of people’s ears who have tried and failed at some weight loss regimen that involved counting calories, or who just don’t want to have to worry about planning or tracking anything they eat.
</p>
<p>
    Well, vilifying calorie counting and telling people they can eat even more than ever and still lose weight sells books and pills, but is it scientifically honest and accurate?
</p>
<h3>
    I’m not losing weight and can’t figure out why. WTF?
</h3>

<p>
    You’re following all the rules… Your diet is “cleaner” than an operating room… Your “carbohydrate curfew” begins at 7 PM sharp. You’re cycling this and restricting that…
</p>
<p>Why the hell aren’t you losing weight!?</p>
<p>Well, I have good news for you:</p>
<ul>
    <li>
        <b>You’re not genetically cursed.</b>
    </li>
    <li>
        <b>Your metabolism is fine.</b>
    </li>
    <li>
        <b>
            Your hormones aren’t conspiring to keep you fat.
        </b>
    </li>
    <li>
        <b>
            You’re not eating too little of the “right” foods.
        </b>
    </li>
    <li>
        <b>
            It’s not the carbohydrates, dairy, or artificial sweeteners, either.
        </b>
    </li>
</ul>
<h3>
    I want to lose weight and make sure I don’t just gain it all back. How do I do this?
</h3>
<p>
    Here’s something most people wanting to lose weight don’t know:
</p>
<p>
    <b>Losing it is only half the battle.</b>
</p>
<p>
    What happens next is just as important, if not more so.
</p>
<p>
    Well, this is where reverse dieting comes in to save the day. It’s the “diet after dieting” and it’s extremely important to get right.
</p>
<p>
    I’d even go as far as saying that skilfully navigating this “post-weight-loss period” is the real “secret” to ending your weight struggles once and for all.
</p>
<h3>Help! I’m skinny fat and I hate it!</h3>
<p>
    If there’s one thing about people’s bodies that aggravates them most, it’s being skinny fat.
</p>
<p>
    You know, the type of physique that doesn’t look overweight, but lacks muscle definition. That, despite having relatively low levels of body fat, looks soft and shapeless.
</p>
<p>
    What frustrates people most about being skinny fat is they feel they’re working way too hard in the gym and kitchen to look the way they do.
</p>
<h3>
    What are the best supplements for building muscle?
</h3>
<p>
    If you’re familiar with my work, you know what I think of the supplement industry: it’s under-regulated and overflowing with worthless garbage or worse, and should be viewed with a very skeptical eye and tight-fisted budget.
</p>
<p>
    That said, certain supplements
    <i>can</i>
    help you achieve your health and fitness goals. They’re not
    <i>necessary</i>
    , but they can supplement your progress.
</p>
<h3>
    My weightlifting is stuck in a rut. WTF?
</h3>
<p>I know how this goes.</p>
<p>
    Every day, you hit the gym hopped up on pre- workout drink and attitude, determined to push more weight than your last workout.
</p>
<p>
    You load the plates, turn your music up loud, convince yourself it’s light weight, and hit the set with everything you’ve got… and it quickly humbles you.
</p>
<p>
    It feels damn heavy, and you end up doing exactly what you’ve been doing every week (or worse).
</p>
<h3>How much muscle can I build naturally?</h3>
<p>
    If you poke around on the Net looking for answers to this question, you’ll find a ton of conflicting opinions.
</p>
<p>
    Some people feel that genetics can prevent you from ever looking good while others believe that you can accomplish anything if you work hard enough at it.
</p>
<p>Who’s right?</p>
