<ng-sidebar-container>
  
  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" class="left-menu">
   <div class="left-menu-body">
   <div class="menu-list">
    <p routerLink="/faq" (click)="_opened = false">FAQ</p>
    <p routerLink="/profile" *ngIf="!user.isAnonimno()" (click)="_opened = false">Профиль</p>
     <p routerLink="/services" (click)="_opened = false">Услуги</p>
   </div>
   </div>
  </ng-sidebar>

  
</ng-sidebar-container>
<app-header (onToggleMenu)="toggleLeftMenu()"></app-header>
<div class="csgo-fon">

  <div class="tamara">
      <div class="container">
          <router-outlet></router-outlet>
      </div>


  </div>
</div>
