 
<div class="row">
    <div class="col-md-12">
        <div class="tamara-body">
            <div class="tamara-body-head">
                <h3>Faq</h3>
            </div>
            <div class="tamara-body-body servcies-add">
                  
                    <p>Как пополнить средства?</p>
                <ol>
                    <li>Авторизироваться</li>
                    <li>Зайти в профиль</li>
                    <li>Выбрать нужное количество монет для пополнения</li>
                </ol>
                <p>Как вывести средства?</p>
                <ol>
                    <li>Авторизироваться</li>
                    <li>Зайти в профиль</li>
                    <li>Выбрать нужное количество монет для вывода</li>
                    <li>Ввести номер карты</li>
                    <li>Выбрать страну</li>
                    <li>Нажмите - `Вывести`</li>
                </ol>
                <p>Как создать челендж?</p>
                <ol>
                    <li>Авторизироваться</li>
                    <li>Зайти список челенджей</li>
                    <li>Нажать кнопку с иконкой - `+`</li>
                    <li>Выберите  категорию и уровень сложности</li>
                    <li>Выберите  челендж из списка</li>
                    <li>Нажмите - `Создать`</li>
                </ol>
                
                <p>Как участвовать в челендже?</p>
                <ol>
                    <li>Авторизироваться</li>
                    <li>Зайти список челенджей</li>
                    <li>Выбрать челендж</li>
                    <li>Нажать - `Участвовать`</li>
                  
                </ol>
                <p>Как загрузить видео?</p>
                <ol>
                    <li>Авторизироваться</li>
                    <li>Зайти в челендж</li>
                    <li>Нажать на - `Загрузить`</li>
                    <li>Выбрать видео, дождаться окончания загрузки`</li>
                  
                </ol> 
            </div>
        </div>
    </div>
   

</div>
 