<div class="tamara-head"><h1>Пополнить счёт</h1> <!--<h1>Add funds to app Sport Challenges</h1>--></div>


<div class="row">
    <div class="col-md-6">
        <div class="tamara-body">
            <div class="tamara-body-head">
                <h3>Пополнить на 1 монету</h3>
              <!--  <h3>Add funds on 1 coints</h3>-->
            </div>
            <div class="tamara-body-body servcies-add">
               <!-- <p>Requirements:</p>
                <ol>
                    <li>Sign up in <a href="https://play.google.com/store/apps/details?id=com.distour.distoursport_v2" target="_blank">app</a></li>
                    <li>Bot banned</li>
                </ol>
                <p>Description:</p>
                <ol>
                    <li>The service refills the account in the mobile application for 1 coin</li>
                    <li>Commission up to 5%</li>
                    <li>Your account will be executed within 5 minutes</li>
                    <li>Price 1 $</li>
                </ol>-->
                <p>Требования:</p>
                <ol>
                    <li>Авторизоваться</li>
                    <li>Быть не забаненным</li>
                </ol>
                <p>Описание:</p>
                <ol>
                    <li>Сервис пополняет счет на сайте на 1 монету</li>
                    <li>Комиссия до 5%</li>
                    <li>Ваш счёт будет пополнен в течение 5 минут</li>
                    <li>Цена 1 $</li>
                </ol>
                <button (click)="onInitPayeer(1)" *ngIf="!user.isAnonimno()">Пополнить</button>
               <!-- <button (click)="onInitPayeer(1)" *ngIf="!user.isAnonimno()">Add 1 coint</button>-->
                <div class="out-money-sport" *ngIf="user.isAnonimno()">
                   <!-- <h6>Please Sign in</h6>-->
                    <h6>Пожалуйста Авторизируйтесь</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tamara-body">
            <div class="tamara-body-head">
                <h3>Пополнить на 5 монет</h3>
            </div>
            <div class="tamara-body-body servcies-add">
                <p>Требования:</p>
                <ol>
                    <li>Авторизоваться</li>
                    <li>Быть не забаненным</li>
                </ol>
                <p>Описание:</p>
                <ol>
                    <li>Сервис пополняет счет на сайте на 5 монет</li>
                    <li>Комиссия до 5%</li>
                    <li>Ваш счёт будет пополнен в течение 5 минут</li>
                    <li>Цена 5 $</li>
                </ol>
                <button (click)="onInitPayeer(5)" *ngIf="!user.isAnonimno()">Пополнить</button>
             
                <div class="out-money-sport" *ngIf="user.isAnonimno()">
                    <h6>Пожалуйста Авторизируйтесь</h6>
                    
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="tamara-body">
            <div class="tamara-body-head">
                <h3>Пополнить на 20 монет</h3>
            </div>
            <div class="tamara-body-body servcies-add">
                <p>Требования:</p>
                <ol>
                    <li>Авторизоваться</li>
                    <li>Быть не забаненным</li>
                </ol>
                <p>Описание:</p>
                <ol>
                    <li>Сервис пополняет счет на сайте на 20 монет</li>
                    <li>Комиссия до 5%</li>
                    <li>Ваш счёт будет пополнен в течение 5 минут</li>
                    <li>Цена 20 $</li>
                </ol>
                <button (click)="onInitPayeer(20)" *ngIf="!user.isAnonimno()">Пополнить</button>
             
                <div class="out-money-sport" *ngIf="user.isAnonimno()">
                    <h6>Пожалуйста Авторизируйтесь</h6>
                   
                </div>
            </div>
        </div>
    </div>
</div>