<h3>
    What’s your return policy? Do you have a money-back guarantee?
</h3>
<p>
    Many companies offer a money-back guarantee because they know the majority of dissatisfied customers aren’t going to go through the hassle of actually returning the product to get their money back.
</p>
<p>
    We don’t play these games because we don’t have to, the quality of our products makes it unnecessary.
</p>
<p>
    To protect ourselves from fraud, this guarantee is only valid for first time purchases of a product, and redeemable up to three months after purchase.
</p>
