<app-filters [hidden]="true" (onChangeType)="onChangeType($event)" (onChangeRank)="onChangeRank($event)"></app-filters>

<div  infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="15"
[infiniteScrollDisabled]="infiniteScrollDisabled"
(scrolled)="onScroll()">

<ng-template ngFor let-item
            [ngForOf]="list"
            [ngForTrackBy]="trackById">
<app-item-challenge  [item]="item"></app-item-challenge>
</ng-template>
</div>
<div class="add-container" *ngIf="!user.isAnonimno()">
    <button routerLink="/challenge/add" class="btn btn-warning" style="padding: 0 1rem;"> <i class="fa fa-plus"></i></button>
    <!-- <button routerLink="/challenge/add" class="btn btn-warning"> Создать</button> -->
    
</div>