 

            <div class="tamara-head"><h1>Add funds</h1></div>
           
            <div class="row services-app">
                <div class="col-md-12"><h2>DisTour Sport</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tamara-body">
                        <div class="tamara-body-head">
                            <h3>Description website</h3>
                        </div>
                        <div class="tamara-body-body servcies-add">
                            <p>Description:</p>
                     <p>In this application, you can participate / create sports challenges for various sports. Everything is very simple, you just need to replenish the balance and select / create a challenge and wait for opponents, after completing the challenge and uploading the video to the application, the judge will make his verdict and the winner gets the bank.</p>
                  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="tamara-body">
                        <div class="tamara-body-head">
                            <h3>Add funds on 1 coints</h3>
                        </div>
                        <div class="tamara-body-body servcies-add">
                            <p>Requirements:</p>
                            <ol>
                                <li>Sign up in <a href="https://play.google.com/store/apps/details?id=com.distour.distoursport_v2" target="_blank">app</a></li>
                                <li>Bot banned</li>
                            </ol>
                            <p>Description:</p>
                            <ol>
                                <li>The service refills the account in the mobile application for 1 coin</li>
                                <li>Commission up to 5%</li>
                                <li>Your account will be executed within 5 minutes</li>
                                <li>Price 1 $</li>
                            </ol>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                <div class="tamara-body">
                        <div class="tamara-body-head">
                            <h3>Add funds on 5 coints</h3>
                        </div>
                        <div class="tamara-body-body servcies-add">
                            <p>Requirements:</p>
                            <ol>
                                <li>Sign up in <a href="https://play.google.com/store/apps/details?id=com.distour.distoursport_v2" target="_blank">app</a></li>
                                <li>Bot banned</li>
                            </ol>
                            <p>Description:</p>
                            <ol>
                            <li>The service refills the account in the mobile application for 5 coin</li>
                                <li>Commission up to 5%</li>
                                <li>Your account will be executed within 5 minutes</li>
                                <li>Price 5 $</li>
                            </ol>
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="tamara-body">
                        <div class="tamara-body-head">
                            <h3>Add funds on 20 coints</h3>
                        </div>
                        <div class="tamara-body-body servcies-add">
                            <p>Requirements:</p>
                            <ol>
                                <li>Sign up in <a href="https://play.google.com/store/apps/details?id=com.distour.distoursport_v2" target="_blank">app</a></li>
                                <li>Bot banned</li>
                            </ol>
                            <p>Description:</p>
                            <ol>
                            <li>The service refills the account in the mobile application for 20 coin</li>
                                <li>Commission up to 5%</li>
                                <li>Your account will be executed within 5 minutes</li>
                                <li>Price 20 $</li>
                            </ol>
                            
                        </div>
                    </div>
                </div>
            </div>
 