<div class="row">
    <div class="col-md-12">
        <div class="tamara-body">
            <div class="tamara-body-head">
                <h3>Return Policy</h3>
            </div>
            <div class="tamara-body-body servcies-add">
                <p>
                    Our goal is to ensure that you are 100% satisfied with your purchase from us which is why we offer a 100% satisfaction guarantee on every product we sell. If you're not happy with a product for any reason we'll gladly swap it out for you or give you your money back.
                </p>
                <h3>30 Day Returns & Exchanges</h3>
                <p>
                    We'll gladly accept returns for up to 30 days form the time you ordered. Returns can be initiated by contacting our support team with your order number and details of the items you want to return and why. In most cases we'll send you a return shipping label with instructions on how to send the product back.
                </p>
                <h3>FAQ</h3>
                <h3>
                    How long will it take for my return to be processed?
                </h3>
                <p>
                    The time it takes the product to arrive back to our Headquarters will depend one where you're shipping it from. Once the product has arrived, your return will be processed in 24-48 hours. Please note that due to bank processing times credit card refunds may take up to 5 business days to show on your statement.
                </p>
                <h3>
                    Can I exchange a product if I'm not happy with the results?
                </h3>
                <p>
                    Absolutely. We'll ask you for a bit of information on why you are not happy with the product to send back to the brand. If you're unhappy with a product you've purchased please contact us and we'll happily exchange it for you.
                </p>

            </div>
        </div>
    </div>
</div>
